{% extends "base.html"%}
{% block content %}
<h2>Question {{ game["id"] }} of {{ session["total_questions"] }}</h2>

<h3>{{ game["question"] }}</h3>

<form action="/start_quiz" method="POST">

   
    
    <div class="choice"><input type="radio" name="given_answer" value="{{ game['choice1']}}"><label>{{ game['choice1'] }}</label></div>
    <div class="choice"><input type="radio" name="given_answer" value="{{ game['choice2']}}"><label>{{ game['choice2'] }}</label></div>
    <div class="choice"><input type="radio" name="given_answer" value="{{ game['choice3']}}"><label>{{ game['choice3'] }}</label></div>
    <div class="choice"><input type="radio" name="given_answer" value="{{ game['choice4']}}"><label>{{ game['choice4'] }}</label></div>
<input type="submit" value="Submit Answer">

</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}

        {% if category == "correct" %}
            <h3 class="correct">{{ message }} | Score {{ session["score"] }}</h3>
        {% elif category == "wrong" %}
            <h3 class="wrong">{{ message }} | Score {{ session["score"] }}</h3>
        {% else %}
            <h3 class="completed">{{ message }}</h3>


            <table>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>

                {% for player in players %}
                <tr>
                    <td>{{ player["name"] }}</td>
                    <td>{{ player["score"] }}</td>
                </tr>
                {% endfor %}
            </table>



            <h3><a href="/quiz">Back to Theme Page</a></h3>
        {% endif %}

    {% endfor %}
{% else %}
    <h3>Score {{ session["score"] }}</h3>
  {% endif %}
{% endwith %}
{% endblock %}